<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
	<compilation tempDirectory="D:\AspnetTemp\site\modelbook.cloud" />
  </system.web>

  <system.webServer>
	<handlers>
	  <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
	</handlers>

	<!-- Enable stdout logging for troubleshooting. Logs are written to the 'logs' folder next to the app. -->
	<aspNetCore processPath="dotnet" arguments=".\MultiPurposeServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>

</configuration>
