<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishDir>bin\Publish\net10.0\</PublishDir>
    <PublishUrl>bin\Publish\net10.0\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Aruba</_TargetId>
    <PublishProfile>Aruba</PublishProfile>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net10.0</TargetFramework>
    <ProjectGuid>5a4400f2-31a1-6514-74b1-28c660bb66fe</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
