.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
    color: var(--color-text-subtle);
    font-size: 14px;
}

    .breadcrumb a {
        color: #555;
        text-decoration: none;
    }

        .breadcrumb a:hover {
            color: var(--color-primary);
            text-decoration: underline;
        }

.breadcrumb-separator {
    color: #aaa;
}

.breadcrumb-current {
    color: var(--color-text);
    font-weight: 600;
}
